<h3>It is now <%= now.temp %> degrees and <%= now.condition %>. </h3>
<h3>Here's the next 6 days:</h3>

<div class="row">
<%for (let i = 1; i<= 6; i++) { %>
<div class="col s12 m4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <h1><%= forecast[i].emoji %></h1>
      <span class="card-title"><%= forecast[i].timeStamp %></span>
      <p>High of <%= forecast[i].tempHi %>, low of <%= forecast[i].tempLo %>, and <%= forecast[i].condition %></p>
    </div>
    <div class="card-action">
    
    </div>
  </div>
</div>
<% } %>
</div>
